html, body { 
  height:100%; 
  width:100%; 
  margin:0; 
  padding:0; 
  overflow:hidden; 
}

.header{
  position: absolute;
  color:  yellow;
  top: 20vh;
  left: 10%;
  right: 10%;
  text-align: center;

}
.header1{
  position: absolute;
  color: white;
  top: 35vh;
  left: 20%;
  right: 20%;
}
/*@media all and (max-width: 800px){
  .header{
    top: 20vh; 
  }
  .header1{
    top: 35vh;
  }
}*/
.open {
  position: fixed;
  top: 15px;
  right: 40px;
  width: 50px;
  height: 50px;
  display: block;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.open:hover { opacity: 0.8; }

.open span {
  display: block;
  float: left;
  clear: both;
  height: 4px;
  width: 40px;
  border-radius: 40px;
  background-color: #fff;
  position: absolute;
  right: 3px;
  top: 3px;
  overflow: hidden;
  transition: all 0.4s ease;
}

.open span:nth-child(1) {
  margin-top: 10px;
  z-index: 9;
}

.open span:nth-child(2) { margin-top: 25px; }

.open span:nth-child(3) { margin-top: 40px; }

.sub-menu {
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  position: absolute;
  background-color: rgb(194,214,214);
  border-radius: 50%;
  z-index: 18;
  overflow: hidden;
}

.sub-menu li {
  display: block;
  float: right;
  clear: both;
  height: auto;
  margin-right: -160px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sub-menu li:first-child { margin-top: 180px; }

.sub-menu li:nth-child(1) { -webkit-transition-delay: 0.05s; }

.sub-menu li:nth-child(2) { -webkit-transition-delay: 0.10s; }

.sub-menu li:nth-child(3) { -webkit-transition-delay: 0.15s; }

.sub-menu li:nth-child(4) { -webkit-transition-delay: 0.20s; }

.sub-menu li:nth-child(5) { -webkit-transition-delay: 0.25s; }

.sub-menu li a {
  color: black;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 15px;
  width: 100%;
  display: block;
  float: left;
  line-height: 40px;
  text-decoration: none;
}

.oppenned .sub-menu {
  opacity: 0.8;
  height: 400px;
  width: 400px;
}

.oppenned span:nth-child(2) { overflow: visible; }

.oppenned span:nth-child(1),
.oppenned span:nth-child(3) {
  z-index: 100;
  transform: rotate(45deg);
}

.oppenned span:nth-child(1) { transform: rotate(45deg) translateY(12px) translateX(12px); }

.oppenned span:nth-child(2) {
  height: 400px;
  width: 400px;
  right: -160px;
  top: -160px;
  border-radius: 50%;
  background-color: rgba(38, 84, 133, 0.54);
}

.oppenned span:nth-child(3) { transform: rotate(-45deg) translateY(-10px) translateX(10px); }

.oppenned li { margin-right: 168px; }

.preload 
{
  width: 100%;
  height: 100%;
  background: url('../img/preloader.jpeg') center no-repeat #FFF;
  z-index: 99999;
  position: fixed;
}

.footer{
  position: fixed;
  top: 95vh;
  height: 4vh;
  background-color: black;
  width: 100%;
  font-size: 20px;
  color: white;
  margin-top: 6px;
}

@font-face{
  font-family: Equinox;
  src:url('../../fonts/Equinox Bold.otf');
}
h1{
  font-family: Equinox;
}

